<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/sass/css/signin.css">
    <script src="https://use.fontawesome.com/3b71bbcaa4.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <!-- Outer span is for the border around the logo, inner span is for the color change.        -->
            <h1><span id="border-span"><span class="color_1">Dev</span>Shop</h1></span>
        </div>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="#">shop</a></li>
            <li><a href="login.html">log in</a></li>
            <li id="#cart"><img src="static/images/cart.svg" alt=""><a href="#">0</a></li>
        </ul>
    </div>
    <div class="form">
        <h2>Sign up</h2>
        <form>
            <input type="text" placeholder="Username" id="username">
            <input type="email" placeholder="E-Mail">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Repeat password">
            <button type="submit"><i class="fa fa-user-plus" aria-hidden="true">  Sign up</i> </button>
        </form>
        <p>Already have an account?<a href="login.html">   Log in</a> .</p>
    </div>
</body>

</html>