<!DOCTYPE html>
<html>
    <head>
        <title>Web Shop - Submit</title>
    </head>
    <body>
        
        <form action="/api/submit">
            <label>
                Title
                <input type="text" name="name" placeholder="C++ for beginners">
            </label>
            <label>
                Description
                <textarea name="description" placeholder="This is a C++ book excelent for
                    beginners because it turns C++ into something that the newcomers can
                    appreciate.">
                </textarea>
            </label>
            <label>
                Image
                <input type="button" value="this will be a button to submit an image">
            </label>

            <input type="submit" value="Submit Product">
        </form>




    </body>
</html>
