
#signpagesBody {
    display: flex;
    background: #99e74f;
    background: url(../images/forest.JPG);
    background-size: cover;
}

.form {
    margin: auto;
    vertical-align: center;
    text-align: center;
    background: white;
    padding: 1em 5em 5em 5em;

    h2 {
        position: relative;
        margin: -2em 0em 2em 0em;
        padding: 1.5em 3em;
        z-index: 3;
        background: $light-blue;
        color: white;
        border-radius: 0.2em;
    }
    form input {
        margin: 0 auto;
        display: block;
        padding: 0.5em 1em;
        margin-bottom: 2.5em;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $light-gray;

        &:focus{
            outline: none;
            border-bottom: 2px solid $purple;
            color: #6d0bee;
            transition: 0.35s;
        }
    }

    button{
        padding: 0.7em 2em;
        background: $blue;
        border: none;
        font-size: 1.05em;
        color: white;


        &:hover{
            cursor: pointer;
        }
    }

    p{
        // Add some space on the top but bottom of the div expands so add the negative margin on bottom to reduce that effect
        margin-bottom: -2em;
        font-size: 1.05em;
        a{
            text-decoration: none;
            color: #6014db;

        }
    }
}
