/* VARIABLES */


/* Colors */

$blue                        :        #08409b;
$light-blue                  :        #427AA1;
$light-gray                  :        #b2b2b2;
$purple                      :        #6d0bee;